/* RESET */

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./wood.jpg');
  opacity: 0.95;
}

.flashcard {
  height: 420px;
  width: 725px;
  text-align: center;
  perspective: 1000px;
}

svg.flip {
  height: 100px;
}

svg.flip:hover {
  cursor: pointer;
}


.inner {
  --rotationDeg: 0;
  background-image: url('./flashcard.svg');
  text-align: center;
  box-shadow: 6px 3px 5px #282828; 
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  transform: rotate(var(--rotationDeg));
  transition: 0.2s;
  transform-style: preserve-3d;
}

.inner.flipped {
  background-image: linear-gradient(rgba(225, 225, 225, 0.1), rgba(225, 225, 225, 0.1)), url('./flashcard.svg');
  transform: rotateY(180deg) rotate(var(--rotationDeg));

  box-shadow: -6px 3px 5px #282828; 
}

.front, 
.back {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0);
}

.front [type="text"] {
  color: #01118f;
}

.back {
  transform: rotateY(180deg);
}

.back [type="text"] {
  color: rgb(138, 0, 0);
}

.flashcard [type="text"] {
  line-height: 420px;
  font-family: 'Patrick Hand', cursive;
  font-size: 3.5em;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
}

.flip-button {
  padding: 5px 15px;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 2em;
  background-color: #15c628;
}
